# فایل‌های تولیدشده توسط پایتون
__pycache__/
*.pyc
*.pyo
*.pyd

# محیط مجازی
venv/
env/

# خروجی‌های PyInstaller
build/
dist/
*.spec

# فایل‌های سیستمی
.DS_Store
Thumbs.db

# تنظیمات IDE
.idea/
.vscode/

# لاگ‌ها
*.log

# اگر می‌خواهید فایل EXE را در گیت نگه دارید، این خط را حذف کنید
*.exe
